---
# dnbailey.org
---
@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Lato:400,700|Roboto+Slab:300,700);
    
// Our variables
$base-font-family: 'Roboto Slab', serif;
$base-font-size:   18px;
$small-font-size:  $base-font-size * 0.75;
$large-font-size:  $base-font-size * 1.25;
$base-line-height: 1.6;

$header-font-family: 'Lato', sans-serif;

$text-color:       #111;
$link-color:       rgb(31,31,31);
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #434343;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$is-small :         30em;
$is-medium :        55em;
$is-large :         90em;

// Transition Mixin
@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

// Opacity Mixin
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

// Import partials
@import
        "typography",
        "layout"
;
