---
layout: default
permalink: /journal/
---

<div class="journal">
    <section class="block">
        
    {% for post in site.posts limit:10 %}
        <article>
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <p class="post-date">{{ post.date | date: "%B %d, %Y" }}</p>
            {% if post.content contains "<!-- more -->" %}
                {{ post.content | split:"<!-- more -->" | first }}
                <footer class="text-center"><a class="btn read-more" href="{{ post.url }}">Read More</a></footer>
            {% else %}
                {{ post.content | strip_html | truncatewords:100 }}
                <footer class="text-center"><a class="btn read-more" href="{{ post.url }}">Read More</a></footer>
            {% endif %}
        </article>
    {% endfor %}
    </section>
    
    <div class="subscribe block">
          <a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="btn wide rss-subscribe">subscribe via RSS</a></p>

    </div>
</div>
